# 데이터 불러오기 및 확인

- 2016-06-01 ~ 2019-02-28 카드 거래 데이터를 바탕으로 2019-03-01 ~ 2019-05-31의 3개월 매출을 예상

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# df의 시간 범위: 2016-06-01 ~ 2019-02-28
df = pd.read_csv('../../data/funda_train.csv')
df.head()

,store_id,card_id,card_company,transacted_date,transacted_time,installment_term,region,type_of_business,amount
0,0,0,b,2016-06-01,13:13,0,NaN,기타 미용업,1857.142857
1,0,1,h,2016-06-01,18:12,0,NaN,기타 미용업,857.142857
2,0,2,c,2016-06-01,18:52,0,NaN,기타 미용업,2000.000000
3,0,3,a,2016-06-01,20:22,0,NaN,기타 미용업,7857.142857
4,0,4,c,2016-06-02,11:06,0,NaN,기타 미용업,2000.000000

In [3]:
# submission_df의 범위: 2019-03-01 ~ 2019-05-31
submission_df = pd.read_csv('../../data/submission.csv')
submission_df.head()

   store_id  amount
0         0       0
1         1       0
2         2       0
3         4       0
4         5       0

- store 데이터와 예측의 데이터가 일치하는지 확인

In [5]:
# df와 submission_df의 일치하는 id / id 전체 길이 = 1 -> 일치
(df['store_id'].unique() == submission_df['store_id'].unique()).sum() / len(submission_df['store_id'].unique())

1.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6556613 entries, 0 to 6556612
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   store_id          int64
 1   card_id           int64
 2   card_company      object
 3   transacted_date   object
 4   transacted_time   object
 5   installment_term  int64
 6   region            object
 7   type_of_business  object
 8   amount            float64
dtypes: float64(1), int64(3), object(5)
memory usage: 450.2+ MB

In [7]:
submission_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1967 entries, 0 to 1966
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store_id  1967 non-null   int64
 1   amount    1967 non-null   int64
dtypes: int64(2)
memory usage: 30.9 KB